.bg_blue {
    background-color: #20577E;
}

.bg_dropdown {
    background-color: #4b7f8f;
    color: white;
    border-radius: 10px ;
    border: 1px solid #1d4152;
    font-size: 28px;
  }

  .bg_dropdown:hover {
    transform: scale(1.1);
  }

 
  



  

  