$secondary-color: #4b7f8f;

.map-container {
    position: relative;

    .dropdown_bg {
        background-color: $secondary-color;
        color: white;
        border: 0;
    }
    
  
    .dropdown-container {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 1000;
    }
  }
  