.news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 25px 10em;
}

.newsCard {
  background-color: #E4E9E7;
  height: 400px;
  width: 400px;
  padding: 25px;
  margin: 0 auto;
  border-radius: 15px;

  h2 {
    margin: 0 auto;
  }

  p {
    margin-top: 25px;
    align-self: center;
  }

  .btncontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}