$primary-color: #20577E;
$secondary-color: #4b7f8f;
$third-color: #1d4152;
$forth-color: #7e8c8e;
$fifth-color: #e4e9e7;

.btn,
.navsubpage {
  margin: 20px;
  background-color: $secondary-color;
  border-radius: 10px;
  padding: 7px 13px;
  border: 1px solid $third-color;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
}

.navsubpage {
  display: flex;
  justify-content: center;
  width: 150px;
}

.btn:hover,
.navsubpage:hover {
  border-width: 3px;
  padding: 5px 11px;
}

.main {
  background-color: $primary-color;
  width: 100%;
  height: 100vh;
}

/* navbar */

.navbarcontainer {
  background-color: $third-color;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;

}

.usericon {
  height: 50px;
  cursor: pointer;
}

.navbaricons {
  height: 30px;
}

.navbariconbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  color: #555;
  display: flex;
  padding: 2px;
  border-radius: 5px;
  background-color: white;
  justify-content: space-between;
  width: 40%;
}

.navinput {
  border: none;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border-radius: inherit;
  outline: none;
}

.submitbtn {
  text-indent: -999px;
  border: none;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
}


/* navbar */

.navlogo {
  width: 200px;
  cursor: pointer;
}

.navbarsubpagebtncon {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* news */

.newscon {
  width: 80%;
  margin: auto;
  background-color: $fifth-color;
  padding: 20px;
  margin: 20px auto;
  border-radius: 20px;
  border: 3px solid rgb(159, 159, 159);
  display: flex;
  gap: 20px ;
    img {
      width: 20%;
      border-radius: 20px;
    }

    a {
      color: $third-color;
      text-decoration: none;
      font-weight: 700;
    }
}

<<<<<<< HEAD

.back_bg {
  color: white;
  font-size: 60px;
=======
.newscon:last-of-type {
  margin-bottom: 0;
}


/* modal window */

.modalOverlay {
  /* Styles for overlay background */
}

.modal {
  /* Styles for modal container */
}

.closeButton {
  /* Styles for close button */
>>>>>>> 5a9106b9a9f4c08d6b4aa000a455b80de62e77fa
}